version : "3.8"

services:
  backend:
    build : .
    container_name: upskillr-backend
    env_file : .env
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

